/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/style/notFound.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.notFound_notfoundcontainer__OHgSf {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: auto;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

.notFound_h1notfound__DPBFz {
    font-size: 24px;
    margin-bottom: 20px;
}
